:root {
  --primary-color: rgba(59,89,152);
  --secondary-color: rgba(139,157,195);
  --third-color: rgba(223,227,238);
  --fourth-color: rgba(247,247,247);
  --overlay-color: rgba(24, 39, 51, 0.85);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  background: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: all 0.2s ease 0.2s;
}

.navbar-active {
  top: -50px;
  transition: all 0.5s ease;
}

.navbar .hamburger-btn {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  position: relative;
  outline: none;
  cursor: pointer;
  background: transparent;
  margin-left: 5px;
}

.navbar .hamburger-btn .hamburger-box {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--primary-color);
}

.navbar .hamburger-btn .hamburger-box .hamburger-inner {
  height: 3px;
  background: #fff;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 20px;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}

.navbar .hamburger-btn .hamburger-box .hamburger-inner:before,
.navbar .hamburger-btn .hamburger-box .hamburger-inner:after {
  content: '';
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
}

.navbar .hamburger-btn .hamburger-box .hamburger-inner:after {
  top: 10px;
}

.navbar .hamburger-active .hamburger-box .hamburger-inner {
  transform: rotate(135deg);
}

.navbar .hamburger-active .hamburger-box .hamburger-inner:before,
.navbar .hamburger-active .hamburger-box .hamburger-inner:after {
  top: 0;
  transform: rotate(90deg);
}

.navbar .hamburger-active:hover .hamburger-box .hamburger-inner {
  transform: rotate(225deg);
}


.navbar .logo {
  display: flex;
}

.navbar .logo .colors {
  display: flex;
  align-items: center;
}

.navbar .logo .colors .color {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .logo .colors .color:hover {
  transform: scale(1.1);
}

.color-one {
  background: #3b5998;
}
.color-two {
  background: #cc181e;
}
.color-three {
  background: #008744;
}

.navbar .logo h1 {
  margin: 0 20px;
}

/* Overlay */

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
}

.overlay > div {
  background-color: var(--overlay-color);
  width: 3000px;
  height: 3000px;
  flex: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.75s ease;
}

.overlay > div >div {
  opacity: 0;
  transition: all 0.4s ease ;
}


.overlay > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.overlay > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.overlay > div > div > ul > li > a:hover {
  color: var(--secondary-color);
}

.overlay-active {
  visibility: visible;
}


.overlay-active > div {
  transform: scale(1);
  transition: all 0.75s ease;
}

.overlay-active > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}


/* Main Section */

.main {
  height: 100vh;
  background: var(--primary-color);
  color: #fff;
  position: relative;
}

.main .container {
  max-width: 960px;
  height: 100%;
  padding: 0 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.main .container h1 {
  font-size: 4rem;
}

.main .container p {
  font-size: 1.3rem;
}

.main .container .btn {
  display: block;
  width: 50%;
  border: none;
  background: var(--secondary-color);
  padding: 0.75rem 1.5rem;
  margin: 1rem auto;
  transition: all 0.75s ease-in-out;
  text-decoration: none;
  color: #fff;
}

.main .container .btn:hover {
  opacity: 0.7;
}

/* Projects Section */

.projects {
  height: 100vh;
  background: var(--third-color);
}

.contact {
  height: 100vh;
  background: var(--fourth-color);
}
